body {
      background-image: url("img/cover.jpg");
      background-size: cover;
}
#form {
    background-color: #c5afa9 ;
    border: solid 1px;
    padding: 1%;
    border-radius: 50px;
}
h4{
    color: white;
}
h1 {
    color: white;
   
}
#main {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 3%;
}